@font-face {
    font-family: 'Manga-Temple';
    src: url('../Manga/mangat.ttf') format('truetype');
    /* Add other font properties if needed */
}

.text {
    font-family: 'Manga-Temple', sans-serif;
}

.manga-title {
    font-size: 24px;
    color: #000000;
    margin-top: 0; 
    margin-bottom: 10px;
    text-align: center;
    /*align-items: center;*/
    border-radius: 10px;
    background-color: #ffffff;
    display: inline-block;
    width: 300px;
    /*position: 'relative';*/
    /*display: inline-block;
    justify-self: center;
    align-self: center;*/
}

.manga-details {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
    mix-blend-mode: difference;
    margin-top: 10px;
}

.manga-image {
    /*margin-left: 25px; 
    justify-self: start;
    align-items: center;*/
    margin-left: 10px;
    margin-right: auto;
    display: block;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    
    column-gap: 11px;
}


.speech-bubble {
    position: relative;
    background-color: #fff; 
    padding: 0px 10px; /* Adjust padding as needed */
    border-radius: 10px; /* Rounded corners */
    max-width: 99%; /* Maximum width of the speech bubble */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); /* Optional: Add shadow for depth */
}



.background {
    background-image: url("../Manga/backgroundmanga1-transformed.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    
    min-height:100vh;
    width: 100%;
    height: 100%;
    
    background-attachment: fixed;
}