.manga-title {
    font-size: 24px;
    color: #ffffff;
    margin-top: 0; 
    margin-bottom: 10px;
}

.manga-details {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}

.manga-image {
    margin-left: 50px; 
}

.background {
    background-image: url("../Manga/backgroundmanga1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}